Repository napari/docs, pull requests merged in 2022-10, with the labels that each got.

#4 Add favicon and configuration
  docs/_static/favicon/logo-noborder-180.png
  docs/_static/favicon/logo-silhouette-192.png
  docs/_static/favicon/logo-silhouette-dark-light.svg
  docs/conf.py
  requirements.txt
Labels: documentation

#6 Add build_docs action to PRs
  .github/workflows/build_docs.yml
  docs/conf.py
Labels: documentation, task

#8 Fix examples path in build_docs PR workflow
  .github/workflows/build_docs.yml
  docs/conf.py
Labels: bug, task

#9 Use `imshow` in `getting_started`
  docs/tutorials/assets/tutorials/launch_ipython.png
  docs/tutorials/assets/tutorials/launch_script.png
  docs/tutorials/fundamentals/getting_started.md
Labels: documentation
