Repository napari/docs, pull requests merged in 2022-12, with the labels that each got.

#56 add sample database page
  docs/_toc.yml
  docs/further-resources/sample_data.md
Labels: documentation

#5 Update docs contribution guide for two-repo setup
  .github/workflows/build_docs.yml
  Makefile
  README.md
  docs/conf.py
  docs/developers/documentation/index.md
Labels: documentation, task, content

#12 Add and/or update documentation alt text
  README.md
  docs/developers/testing.md
  docs/guides/3D_interactivity.md
  docs/guides/contexts_expressions.md
  docs/guides/rendering-explanation.md
  docs/howtos/layers/image.md
  docs/howtos/layers/shapes.md
  docs/plugins/find_and_install_plugin.md
  docs/tutorials/annotation/annotate_points.md
  docs/tutorials/fundamentals/installation.md
Labels: documentation

#76 Feature: add `copy` button for code blocks using `sphinx-copybutton`
  docs/conf.py
  requirements.txt
Labels: documentation, enhancement

#77 Add NAP-6 - Proposal for contributable menus
  docs/_toc.yml
  docs/naps/6-contributable-menus.md
  docs/naps/_static/layer-context-menu.png
  docs/naps/_static/napari-many-plugins.png
Labels: documentation
