Repository napari/docs, pull requests merged in 2023-09, with the labels that each got.

#235 Update ndisplay title
  docs/tutorials/fundamentals/viewer.md
Labels: documentation

#216 Run PR depenecy check on every comment added to PR
  .github/workflows/pr_dependencies.yml
Labels: task, ready-to-merge

#228 Fix titles on Getting Started section of user guide
  docs/tutorials/fundamentals/getting_started.md
  docs/tutorials/fundamentals/installation.md
  docs/tutorials/start_index.md
Labels: documentation, ready-to-merge

#220 Adds guide on CI setup for docs building and website deployment
  docs/_toc.yml
  docs/developers/core_dev_guide.md
  docs/developers/documentation/docs_deployment.md
Labels: documentation, ready-to-merge

#236 Remove sub-sub section heading from rendering guide
  docs/guides/rendering.md
Labels: documentation, ready-to-merge

#233 DOC Minor fixes to nap 6 doc
  docs/naps/6-contributable-menus.md
Labels: documentation

#234 Remove items not relevant to documentation in PR template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: task, ready-to-merge

#229 Add TOML lexer to pygments set up
  docs/conf.py
Labels: documentation, ready-to-merge

#241 fix outdated dimension sliders documentation
  docs/conf.py
  docs/tutorials/fundamentals/viewer.md
Labels: bug, documentation, ready-to-merge

#243 Update napari-workshops.md
  docs/further-resources/napari-workshops.md
Labels: documentation, ready-to-merge
