Repository napari/docs, pull requests merged in 2023-10, with the labels that each got.

#238 Update selection instructions in Points tutorial for Shift-A keybinding
  docs/howtos/layers/points.md
Labels: documentation, content, ready-to-merge

#247 [Maintenance] Use permissions for labeler action (and set v4)
  .github/workflows/labeler.yml
Labels: maintenance

#248 [maintenance] Fix missing v in labeler action version
  .github/workflows/labeler.yml
Labels: maintenance

#251 Use docs constraints in circleci workflow
  .circleci/config.yml
Labels: ready-to-merge

#246 Update docs to suggest python 3.10 install
  docs/conf.py
Labels: documentation, ready-to-merge, maintenance

#253 Installation guide: Mention slow first launch time
  docs/tutorials/fundamentals/installation.md
Labels: documentation, content

#252 [Fix error] Image layers can't have converted data type using contextual menu, only Labels
  docs/tutorials/fundamentals/viewer.md
Labels: bug, documentation

#255 Fix pydantic import
  docs/_scripts/update_preference_docs.py
Labels: documentation, ready-to-merge
