Repository napari/docs, pull requests merged in 2023-02, with the labels that each got.

#90 Move napari workshop template link to top of page
  docs/further-resources/napari-workshops.md
Labels: documentation

#100 Replace pip with python -m pip
  docs/developers/benchmarks.md
  docs/developers/contributing.md
  docs/developers/profiling.md
  docs/developers/release.md
  docs/developers/testing.md
  docs/howtos/docker.md
  docs/index.md
  docs/plugins/best_practices.md
  docs/plugins/debug_plugins.md
  docs/plugins/first_plugin.md
  docs/plugins/npe1.md
  docs/plugins/npe2_migration_guide.md
  docs/plugins/test_deploy.md
  docs/release/generate_release_notes.py
  docs/tutorials/fundamentals/installation.md
  docs/tutorials/fundamentals/quick_start.md
Labels: documentation

#101 change blob example to be self contained
  docs/howtos/layers/labels.md
Labels: documentation

#72 Added environment creation and doc tools install
  docs/developers/contributing.md
  docs/tutorials/fundamentals/installation.md
Labels: documentation, content

#41 Improve makefile
  Makefile
  docs/_scripts/prep_docs.py
  docs/developers/documentation/index.md
Labels: documentation

#97 Add cards to usage landing pages
  docs/guides/layers.md
  docs/tutorials/annotation/index.md
  docs/tutorials/fundamentals/getting_started.md
  docs/tutorials/fundamentals/viewer.md
  docs/tutorials/index.md
  docs/tutorials/processing/index.md
  docs/tutorials/segmentation/index.md
  docs/tutorials/start_index.md
  docs/tutorials/tracking/index.md
Labels: documentation

#75 Add 'html-live' make action to support live reload workflows
  Makefile
  docs/conf.py
  docs/developers/documentation/index.md
  docs/requirements.txt
  requirements.txt
Labels: documentation, enhancement, ready-to-merge

#99 Update deploy_docs.yml to use metadata to use proper napari version substitution
  .github/workflows/deploy_docs.yml
Labels: task, ready-to-merge

#35 Adding documents and images from January 2022 plugin testing workshop.
  docs/_toc.yml
  docs/images/coverage_report.png
  docs/images/lines_not_run_highlighted_in_red.png
  docs/images/napari_plugins_1st_napari_get_reader.png
  docs/images/napari_plugins_2nd_reader_function.png
  docs/images/napari_plugins_3rd_pytest_passed.png
  docs/images/napari_plugins_4th_test_get_reader_returns_callable-failed.png
  docs/images/napari_plugins_5th_tests_passed.png
  docs/images/second_coverage_report.png
  docs/images/test_coverage_htmlcov_directory.png
  docs/plugins/testing_workshop_docs/1-pythons-assert-keyword.md
  docs/plugins/testing_workshop_docs/2-pytest-testing-frameworks.md
  docs/plugins/testing_workshop_docs/3-readers-and-fixtures.md
  docs/plugins/testing_workshop_docs/4-test-coverage.md
  docs/plugins/testing_workshop_docs/index.md
  docs/plugins/testing_workshop_docs/testing-resources.md
Labels: documentation, content, ready-to-merge

#104 CircleCI setup for PR documentation previews
  .circleci/config.yml
  .github/workflows/circleci.yml
Labels: task

#105 Update the 'ensuring correctness' mission clause
  docs/community/mission_and_values.md
Labels: documentation

#106 Update steering council listing on website
  docs/community/team.md
Labels: documentation

#108 Change `CIRCLECI_TOKEN` to `GITHUB_TOKEN` in `circleci.yml` workflow file.
  .github/workflows/circleci.yml
Labels: task
