Repository napari/docs, pull requests merged in 2023-12, with the labels that each got.

#256 Add option to fail docs build on gallery example execution error
  docs/conf.py
Labels: documentation, ready-to-merge

#287 Add env constraint to 'deploy_docs' workflow
  .github/workflows/deploy_docs.yml
Labels: task, ready-to-merge

#290 fix napari repo path to constraints
  .github/workflows/deploy_docs.yml
Labels: bug, task, maintenance, priority-high

#294 Update headless-gui action in build (fix screenshots)
  .github/workflows/build_docs.yml
  .github/workflows/deploy_docs.yml
Labels: bug, task, ready-to-merge, maintenance

#302 Add theme page to 'how tos'
  docs/developers/contributing.md
  docs/howtos/index.md
  docs/howtos/themes.md
Labels: documentation, ready-to-merge

#304 Add/improve documentation about napari's software architecture
  docs/_toc.yml
  docs/developers/architecture/app_model.md
  docs/developers/architecture/dir_organization.md
  docs/developers/architecture/index.md
  docs/developers/architecture/napari_models.md
  docs/developers/testing.md
Labels: documentation, ready-to-merge

#292 Add to console details to "How to launch `napari`"
  docs/tutorials/fundamentals/getting_started.md
  docs/tutorials/fundamentals/viewer.md
Labels: documentation, ready-to-merge
