Repository napari/docs, pull requests merged in 2023-07, with the labels that each got.

#193 Add information about constraint usage to install older napari release
  docs/tutorials/fundamentals/installation.md
Labels: documentation

#184 Update CircleCI config.yml to not overwrite requirements
  .circleci/config.yml
Labels: ready-to-merge, maintenance

#199 Port release notes from 0.4.18 main repo to docs
  docs/_toc.yml
  docs/release/release_0_4_18.md
Labels: documentation

#177 Add documentation for #5806
  docs/howtos/layers/labels.md
Labels: documentation

#204 make Talley emeritus SC
  docs/community/team.md
Labels: documentation

#195 Fix typo of points instead of shapes
  docs/howtos/layers/shapes.md
Labels: documentation

#194 Use python version range instead of min version
  docs/conf.py
  docs/tutorials/fundamentals/installation.md
Labels: documentation, ready-to-merge

#196 Improve titles of fundamentals tutorials
  docs/tutorials/fundamentals/getting_started.md
  docs/tutorials/fundamentals/installation.md
  docs/tutorials/fundamentals/quick_start.md
  docs/tutorials/fundamentals/viewer.md
Labels: documentation, ready-to-merge

#201 Add extra note for Windows and Make to avoid running `rm -rf C:\Users`
  docs/developers/documentation/index.md
Labels: documentation, ready-to-merge

#202 Update installation instructions for the new conda-forge packages and other changes in our packaging infra
  docs/developers/packaging.md
  docs/tutorials/fundamentals/installation.md
Labels: documentation

#200 NAP 7: Key Binding Dispatch
  .circleci/config.yml
  docs/_toc.yml
  docs/conf.py
  docs/naps/7-key-binding-dispatch.md
  docs/naps/_static/kb-example-graph.png
Labels: documentation, ready-to-merge

#207 Use napari_scraper instead of qtgallery
  docs/conf.py
  docs/requirements.txt
  requirements.txt
Labels: documentation
