Repository napari/docs, pull requests merged in 2023-01, with the labels that each got.

#51 Added info for conda installation problems
  .github/workflows/build_docs.yml
  docs/conf.py
  docs/tutorials/fundamentals/installation.md
Labels: documentation, task, instalation

#55 add foundation grant onboarding workshop
  docs/further-resources/napari-workshops.md
Labels: documentation

#63 Add sphinx-design cards to Usage landing page
  docs/_toc.yml
  docs/conf.py
  docs/further-resources/napari-workshops.md
  docs/guides/index.md
  docs/howtos/index.md
  docs/howtos/layers/index.md
  docs/plugins/first_plugin.md
  docs/requirements.txt
  docs/tutorials/fundamentals/quick_start.md
  docs/tutorials/index.md
  docs/usage.md
  requirements.txt
Labels: documentation

#79 Fixes formatting for the contributing documentation section
  docs/developers/documentation/index.md
Labels: documentation

#78 Update contributing docs for [dev] install change needing Qt backend install
  docs/developers/contributing.md
Labels: documentation

#81 Update theme related documentation
  docs/developers/contributing.md
Labels: documentation

#84 Feature: implement python version substitution in conf.py
  docs/conf.py
  docs/index.md
  docs/tutorials/fundamentals/installation.md
  docs/tutorials/fundamentals/quick_start.md
Labels: documentation

#85 Fixes gallery ToC
  docs/conf.py
  docs/gallery.md
Labels: documentation

#94 Switch from GabrielBB/xvfb-action to aganders3/headless-gui
  .github/workflows/build_docs.yml
  .github/workflows/deploy_docs.yml
Labels: task

#59 Fix broken links
  EULA.md
  docs/community/team.md
  docs/conf.py
  docs/further-resources/glossary.md
  docs/guides/magicgui.md
  docs/naps/0-nap-process.md
  docs/naps/4-async-slicing.md
  docs/release/release_0_3_0.md
  docs/release/release_0_3_6.md
  docs/release/release_0_4_13.md
  docs/release/release_0_4_3.md
  docs/release/release_0_4_8.md
  docs/roadmaps/0_3.md
  docs/roadmaps/0_3_retrospective.md
  docs/roadmaps/0_4.md
  docs/tutorials/segmentation/annotate_segmentation.md
  docs/tutorials/tracking/cell_tracking.md
Labels: documentation

#89 Clarify arm64 macOS (Apple Silicon) installation
  docs/index.md
  docs/tutorials/fundamentals/installation.md
  docs/tutorials/fundamentals/quick_start.md
Labels: documentation
