Repository napari/docs, pull requests merged in 2023-04, with the labels that each got.

#130 Add matplotlib image scraper for gallery
  docs/conf.py
Labels: documentation

#109 Update version switcher json
  docs/_static/version_switcher.json
Labels: documentation

#139 Update URL of version switcher
  docs/conf.py
Labels: documentation

#136 Fix CircleCI token name and remove outdated artifact action
  .github/workflows/artifacts.yml
  .github/workflows/circleci.yml
Labels: task

#133 Fix missing links and references
  docs/plugins/testing_workshop_docs/1-pythons-assert-keyword.md
  docs/tutorials/fundamentals/viewer.md
Labels: documentation, ready-to-merge

#140 Add instructions on how to check preview of built docs
  .github/PULL_REQUEST_TEMPLATE.md
  docs/developers/documentation/images/circleci-link.png
  docs/developers/documentation/images/doc-ci-1.png
  docs/developers/documentation/index.md
Labels: documentation, task, ready-to-merge

#137 Explain how to add new examples to the gallery
  docs/developers/contributing.md
  docs/developers/documentation/index.md
  docs/gallery.md
Labels: documentation, ready-to-merge

#138 Add instructions on how to use docs-xvfb
  docs/developers/documentation/index.md
Labels: documentation, ready-to-merge
