Repository napari/docs, pull requests merged in 2023-11, with the labels that each got.

#260 Add missed pinning dependencies
  .circleci/config.yml
  .github/workflows/build_docs.yml
Labels: task, ready-to-merge, maintenance

#263 [Maintenance] Update deploy_docs.yml to use constraints
  .github/workflows/deploy_docs.yml
Labels: task, ready-to-merge, maintenance, priority-high

#264 [Maintenance] fix path to requirements.txt in deploy_docs workflow
  .github/workflows/deploy_docs.yml
Labels: task, maintenance

#269 [NAP-8] delete :orphan:
  docs/naps/8-telemetry.md
Labels: bug, documentation, ready-to-merge

#183 Update Viewer tutorial for extra layer contextual menu visibility options (napari/#5574)
  docs/tutorials/fundamentals/viewer.md
Labels: documentation, ready-to-merge

#270 Delete vestigial docs/requirements.txt
  docs/requirements.txt
Labels: documentation, ready-to-merge, maintenance

#266 Uniform circleCI and build_docs workflows across repositories
  .circleci/config.yml
  .github/workflows/build_docs.yml
Labels: task

#276 Re-apply: Image layers can't have converted data type
  docs/tutorials/fundamentals/viewer.md
Labels: bug, documentation, ready-to-merge

#275 Improve next steps part of installation guide
  docs/tutorials/fundamentals/installation.md
Labels: documentation, ready-to-merge

#278 [Maintenance] Update CIrcleCI redirector circleci.yml to fix artifact path
  .github/workflows/circleci.yml
Labels: task, ready-to-merge, maintenance

#273 add link to video from EMBO workshop
  docs/further-resources/napari-workshops.md
Labels: documentation, ready-to-merge

#277 [Maint] use concurrency to cancel in-progress build_docs
  .github/workflows/build_docs.yml
Labels: ready-to-merge, maintenance

#274 Improve flow of install page
  docs/tutorials/fundamentals/installation.md
Labels: documentation, ready-to-merge
