Repository napari/docs, pull requests merged in 2023-05, with the labels that each got.

#124 Add pr dependency check
  .github/workflows/pr_dependencies.yml
Labels: task, ready-to-merge

#148 Fix version switcher URL for the latest docs version
  docs/conf.py
Labels: documentation

#48 Add some more docs about packaging details and conda-forge releases
  docs/developers/packaging.md
  docs/developers/release.md
Labels: documentation, content, ready-to-merge

#151 Fix signpost to make_napari_viewer code
  docs/developers/testing.md
Labels: documentation, ready-to-merge

#164 Fix build and deploy workflow
  .github/workflows/deploy_docs.yml
Labels: task

#158 Add instructions to build napari docs on Windows
  docs/developers/documentation/index.md
Labels: documentation, ready-to-merge

#141 Harmonize release notes to new mandatory labels
  docs/release/generate_release_notes.py
Labels: documentation

#157 Add more information to the documentation contribution guide
  Makefile
  docs/developers/documentation/index.md
Labels: documentation, ready-to-merge

#161 Add a napari plugin debugging quick start section to the debugging guide
  docs/images/vs_code_debug.png
  docs/plugins/debug_plugins.md
Labels: documentation, ready-to-merge

#165 Update README to display CZI logo for dark and light GitHub themes
  README.md
Labels: ready-to-merge

#149 Update Shapes How-To for new Lasso tool (napari/#5555)
  docs/howtos/layers/shapes.md
Labels: documentation, ready-to-merge

#147 Update installation docs to remove briefcase bundle mentions
  docs/developers/packaging.md
  docs/tutorials/assets/tutorials/installation/bundle_applications_folder.png
  docs/tutorials/assets/tutorials/installation/bundle_assets.png
  docs/tutorials/assets/tutorials/installation/bundle_install.png
  docs/tutorials/fundamentals/installation.md
  docs/tutorials/fundamentals/quick_start.md
Labels: documentation, ready-to-merge

#168 Fix closing of html comment in PR template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: task
