Repository napari/docs, pull requests merged in 2023-06, with the labels that each got.

#175 Pin npe2 version to match installed one
  docs/_scripts/prep_docs.py
Labels: documentation

#159 Update viewer tutorial 3D mode docs
  docs/tutorials/fundamentals/viewer.md
Labels: documentation, enhancement, content

#181 Add Wouter-Michiel Vierdag to list of core devs
  docs/community/team.md
Labels: documentation

#121 Documentation for alt-click visibility icon to show only that layer (napari/napari#5618)
  docs/guides/layers.md
  docs/tutorials/fundamentals/viewer.md
Labels: documentation

#50 Add documentation on using virtual environments for testing in napari based on 2022-01 workshop by Talley Lambert
  docs/_toc.yml
  docs/plugins/virtual_environment_docs/1-virtual-environments.md
  docs/plugins/virtual_environment_docs/2-deploying-your-plugin.md
  docs/plugins/virtual_environment_docs/3-version-management.md
  docs/plugins/virtual_environment_docs/4-developer-tools.md
  docs/plugins/virtual_environment_docs/5-survey.md
  docs/plugins/virtual_environment_docs/index.md
Labels: documentation, tutorial, ready-to-merge

#152 Docs for adding LayerData tuple to viewer
  docs/plugins/_layer_data_guide.md
Labels: documentation, content

#192 Update SC information
  docs/community/team.md
Labels: documentation
