Repository napari/docs, pull requests merged in 2024-12, with the labels that each got.

#530 Remove Andy Sweet as a core developer
  docs/community/team.md
Labels: documentation, ready to merge

#514 Update tutorials
  docs/_static/images/launch_cli_empty.png
  docs/_static/images/launch_cli_image.png
  docs/_static/images/launch_ipython.png
  docs/_static/images/launch_jupyter.png
  docs/_static/images/launch_script.png
  docs/conf.py
  docs/tutorials/annotation/annotate_points.md
  docs/tutorials/fundamentals/getting_started.md
  docs/tutorials/fundamentals/installation_bundle_conda.md
  docs/tutorials/fundamentals/quick_start.md
  docs/tutorials/fundamentals/viewer.md
  docs/tutorials/processing/dask.md
  docs/tutorials/segmentation/annotate_segmentation.md
  requirements.txt
Labels: documentation, ready to merge

#534 add info on how to cross-reference gallery examples
  docs/developers/contributing/documentation/index.md
Labels: documentation, ready to merge

#537 Add reference to napari architecture guide in the contributing guide
  docs/developers/contributing/index.md
Labels: documentation, ready to merge

#543 Update version_switcher.json for 0.5.5
  docs/_static/version_switcher.json
Labels: documentation

#539 Fix broken link in installation tutorial
  docs/tutorials/fundamentals/installation.md
Labels: documentation, ready to merge

#544 Add resources page with logos
  docs/_toc.yml
  docs/community/resources.md
Labels: documentation, ready to merge

#531 Add version warning banner for old versions of the docs
  docs/_static/custom.css
  docs/conf.py
Labels: documentation, ready to merge

#546 Fix build-on-windows link in README.md
  README.md
Labels: bug, ready to merge

#533 Add troubleshooting page
  docs/_toc.yml
  docs/howtos/layers/image.md
  docs/troubleshooting.md
Labels: documentation, ready to merge
