Repository napari/docs, pull requests merged in 2024-11, with the labels that each got.

#503 Highlight Jupyter option in gallery examples
  docs/conf.py
  docs/gallery.md
Labels: documentation, ready to merge

#504 Add community calendar link to landing page
  docs/_templates/calendar-template.html
  docs/conf.py
  docs/index.md
Labels: documentation, ready to merge

#507 Update release guide anchor
  docs/developers/index.md
Labels: documentation, ready to merge

#474 Add linkcheck step to be run once a week
  .github/workflows/build_and_deploy.yml
  .github/workflows/labeler.yml
  .github/workflows/linkcheck.yml
Labels: task, ready to merge

#502 Update docs to remove flake8, isort mentions and add ruff
  docs/developers/contributing/dev_install.md
  docs/developers/coredev/core_dev_guide.md
  docs/plugins/virtual_environment_docs/4-developer-tools.md
Labels: documentation, ready to merge

#510 Minor improvement to provider annotations
  docs/developers/architecture/app_model.md
  docs/developers/architecture/magicgui_type_reg.md
Labels: documentation, ready to merge

#523 [Maint] Fix labeler action by using proper syntax
  .github/labeler.yml
Labels: ready to merge, maintenance, priority-high

#525 Update NAP-6 to remove mention of context menu
  docs/naps/6-contributable-menus.md
  docs/naps/_static/layer-context-menu.png
  docs/naps/_static/nap6-menu-example.png
Labels: documentation, ready to merge

#526 Update labeler.yml to check subfolders
  .github/labeler.yml
Labels: maintenance

#521 Update finding_and_installing_plugins.md
  docs/plugins/start_using_plugins/finding_and_installing_plugins.md
Labels: documentation, ready to merge

#516 Update Step 4 of development set up to clarify qt backends
  docs/developers/contributing/dev_install.md
Labels: documentation, ready to merge

#519 Add contributing text and link about CI
  docs/developers/contributing/index.md
Labels: content

#518 Update benchmarks.md to use conda napari-env
  docs/developers/contributing/performance/benchmarks.md
Labels: documentation

#522 [Labels] Add more prominent info about the next label keybind and fix n_dimensional (deprecated)
  docs/howtos/layers/labels.md
  docs/tutorials/fundamentals/quick_start.md
Labels: bug, documentation, content, ready to merge
