Repository napari/docs, pull requests merged in 2024-02, with the labels that each got.

#347 Update version switcher for 0.4.19 release
  docs/_static/version_switcher.json
Labels: documentation

#338 Fix broken links and references
  docs/_toc.yml
  docs/community/team.md
  docs/developers/architecture/dir_organization.md
  docs/developers/architecture/napari_models.md
  docs/developers/contributing/documentation/index.md
  docs/developers/contributing/index.md
  docs/developers/contributing/performance/benchmarks.md
  docs/developers/contributing/performance/profiling.md
  docs/developers/contributing/translations.md
  docs/developers/coredev/core_dev_guide.md
  docs/developers/coredev/maintenance.md
  docs/developers/coredev/release.md
  docs/developers/index.md
  docs/guides/event_loop.md
  docs/howtos/docker.md
  docs/howtos/headless.md
  docs/howtos/index.md
  docs/howtos/layers/image.md
  docs/howtos/layers/index.md
  docs/howtos/layers/labels.md
  docs/howtos/perfmon.md
  docs/howtos/themes.md
  docs/index.md
  docs/plugins/building_a_plugin/first_plugin.md
  docs/plugins/testing_workshop_docs/index.md
  docs/roadmaps/0_3_retrospective.md
  docs/roadmaps/0_4.md
  docs/tutorials/annotation/annotate_points.md
  docs/tutorials/fundamentals/getting_started.md
  docs/tutorials/fundamentals/installation.md
  docs/tutorials/fundamentals/quick_start.md
  docs/tutorials/fundamentals/viewer.md
  docs/tutorials/processing/dask.md
  docs/tutorials/processing/index.md
  docs/tutorials/start_index.md
  docs/usage.md
Labels: documentation, ready-to-merge

#316 Exclude inherited tqdm members from documentation
  docs/_templates/autosummary/class.rst
Labels: documentation, ready-to-merge

#319 Update packaging guide by removing outdated `constructor` fork details
  docs/developers/coredev/packaging.md
Labels: documentation, ready-to-merge

#351 Fix execution of magicgui guide (2)
  docs/howtos/extending/magicgui.md
Labels: bug, documentation, ready-to-merge

#356 Replace survey with help banner
  docs/_static/announcement.html
Labels: documentation, ready-to-merge
