Repository napari/docs, pull requests merged in 2024-01, with the labels that each got.

#310 Set `NAPARI_CONFIG` to clean settings
  Makefile
Labels: ready-to-merge, maintenance

#300 Update .gitignore
  .gitignore
Labels: maintenance

#303 Expand headless env testing in "Test organization"
  docs/developers/testing.md
Labels: documentation, ready-to-merge

#314 Fix execution of magicgui guide
  docs/guides/magicgui.md
Labels: bug, documentation, ready-to-merge

#286 Add section on extending napari
  docs/_toc.yml
  docs/further-resources/glossary.md
  docs/guides/event_loop.md
  docs/guides/index.md
  docs/guides/magicgui.md
  docs/howtos/extending/connecting_events.md
  docs/howtos/extending/index.md
  docs/howtos/extending/magicgui.md
  docs/howtos/index.md
Labels: documentation, ready-to-merge

#267 Update to use napari-sphinx-theme 0.3.0
  .github/workflows/build_docs.yml
  .github/workflows/deploy_docs.yml
  docs/_templates/layout.html
  docs/_templates/sbt-sidebar-nav.html
  docs/_templates/sidebar-nav-bs.html
  docs/community/meeting_schedule.md
  docs/conf.py
  requirements.txt
Labels: documentation, enhancement, task

#322 Add Kyle to steering council, make Talley emeritus
  docs/community/team.md
  docs/community/working_groups.md
Labels: documentation, ready-to-merge

#327 Update working groups leads
  docs/community/working_groups.md
Labels: documentation, ready-to-merge

#125 Layer documentation enhancements
  docs/guides/layers.md
  docs/howtos/layers/image.md
  docs/howtos/layers/index.md
  docs/howtos/layers/labels.md
  docs/howtos/layers/points.md
  docs/howtos/layers/shapes.md
  docs/howtos/layers/surface.md
  docs/howtos/layers/tracks.md
  docs/howtos/layers/vectors.md
  docs/images/2D-button.png
  docs/images/3D-button.png
  docs/images/3D_paths.png
  docs/images/delete_label.webm
  docs/images/draw_component.webm
  docs/images/editing_points.webm
  docs/images/editing_shapes.webm
  docs/images/labels-layer-eraser.png
  docs/images/merge_labels.webm
  docs/images/multichannel_cells.png
  docs/images/nD_shapes.webm
  docs/images/pan-zoom-tool.png
  docs/images/point-adding-tool.png
  docs/images/point-deleting-tool.png
  docs/images/point-selecting-tool.png
  docs/images/shape-add-ellipses.png
  docs/images/shape-add-lasso.png
  docs/images/shape-add-lines.png
  docs/images/shape-add-path.png
  docs/images/shape-add-polygons.png
  docs/images/shape-add-rectangles.png
  docs/images/shape-delete-shape.png
  docs/images/shape-move-to-back.png
  docs/images/shape-move-to-front.png
  docs/images/shape-select-shape.png
  docs/images/shape-vertex-insert.png
  docs/images/shape-vertices-select.png
  docs/images/shape_resizing.webm
  docs/images/shape_vertex_delete.png
  docs/images/shape_vertex_editing.webm
  docs/images/split_label.webm
Labels: documentation, ready-to-merge

#323 move self to emeritus
  docs/community/team.md
Labels: documentation, ready-to-merge

#145 Update annotate_points.md
  docs/tutorials/annotation/annotate_points.md
Labels: documentation, ready-to-merge

#301 Use reference labels instead of paths
  docs/community/governance.md
  docs/community/index.md
  docs/community/meeting_schedule.md
  docs/developers/architecture/napari_models.md
  docs/developers/benchmarks.md
  docs/developers/contributing.md
  docs/developers/core_dev_guide.md
  docs/developers/documentation/docs_deployment.md
  docs/developers/documentation/docs_template.md
  docs/developers/documentation/index.md
  docs/developers/index.md
  docs/developers/maintenance.md
  docs/developers/profiling.md
  docs/developers/release.md
  docs/further-resources/napari-workshops.md
  docs/guides/index.md
  docs/guides/layers.md
  docs/howtos/docker.md
  docs/howtos/headless.md
  docs/howtos/index.md
  docs/howtos/layers/index.md
  docs/howtos/layers/labels.md
  docs/howtos/layers/points.md
  docs/howtos/layers/surface.md
  docs/howtos/layers/tracks.md
  docs/howtos/napari_imageJ.md
  docs/index.md
  docs/naps/0-nap-process.md
  docs/plugins/advanced_topics/npe2_migration_guide.md
  docs/plugins/building_a_plugin/best_practices.md
  docs/plugins/building_a_plugin/debug_plugins.md
  docs/plugins/building_a_plugin/first_plugin.md
  docs/plugins/building_a_plugin/guides.md
  docs/plugins/testing_and_publishing/test.md
  docs/plugins/testing_workshop_docs/1-pythons-assert-keyword.md
  docs/plugins/testing_workshop_docs/2-pytest-testing-frameworks.md
  docs/plugins/testing_workshop_docs/3-readers-and-fixtures.md
  docs/plugins/testing_workshop_docs/4-test-coverage.md
  docs/plugins/testing_workshop_docs/index.md
  docs/plugins/testing_workshop_docs/testing-resources.md
  docs/roadmaps/0_3.md
  docs/roadmaps/0_3_retrospective.md
  docs/roadmaps/0_4.md
  docs/roadmaps/index.md
  docs/tutorials/annotation/annotate_points.md
  docs/tutorials/fundamentals/getting_started.md
  docs/tutorials/fundamentals/installation.md
  docs/tutorials/fundamentals/quick_start.md
  docs/tutorials/fundamentals/viewer.md
  docs/tutorials/index.md
  docs/tutorials/processing/dask.md
  docs/tutorials/segmentation/index.md
  docs/tutorials/start_index.md
  docs/tutorials/tracking/cell_tracking.md
  docs/usage.md
Labels: documentation, ready-to-merge

#318 Re-organise 'Contributing' section
  docs/_toc.yml
  docs/community/governance.md
  docs/developers/architecture/dir_organization.md
  docs/developers/contributing.md
  docs/developers/contributing/dev_install.md
  docs/developers/contributing/documentation/docs_deployment.md
  docs/developers/contributing/documentation/docs_template.md
  docs/developers/contributing/documentation/images/circleci-link.png
  docs/developers/contributing/documentation/images/doc-ci-1.png
  docs/developers/contributing/documentation/images/doc-ci-2.png
  docs/developers/contributing/documentation/images/doc-ci-3.png
  docs/developers/contributing/documentation/index.md
  docs/developers/contributing/index.md
  docs/developers/contributing/performance/benchmarks.md
  docs/developers/contributing/performance/index.md
  docs/developers/contributing/performance/profiling.md
  docs/developers/contributing/testing.md
  docs/developers/contributing/translations.md
  docs/developers/coredev/core_dev_guide.md
  docs/developers/coredev/maintenance.md
  docs/developers/coredev/packaging.md
  docs/developers/coredev/release.md
  docs/developers/index.md
  docs/howtos/perfmon.md
  docs/naps/0-nap-process.md
  docs/release/release_0_4_15.md
  docs/roadmaps/0_3.md
  docs/roadmaps/0_3_retrospective.md
  docs/roadmaps/0_4.md
  docs/tutorials/fundamentals/installation.md
  docs/tutorials/fundamentals/viewer.md
Labels: documentation, ready-to-merge

#335 Move note after screeenshot in install guide
  docs/tutorials/fundamentals/installation.md
Labels: documentation, ready-to-merge

#339 Move Nick and Loic to emeritus, sort emeritus core devs
  docs/community/team.md
Labels: documentation, maintenance

#341 Add announcement banner html to enable config
  docs/_static/announcement.html
Labels: documentation

#337 Close calendar event popover when clicking outside it
  docs/community/meeting_schedule.md
Labels: documentation

#343 Rename `myModal` to `eventDetailBackground` in meetings schedule
  docs/community/meeting_schedule.md
Labels: documentation

#345 add melissa to core devs
  docs/community/team.md
Labels: documentation

#249 Add NAP for multicanvas
  docs/_toc.yml
  docs/naps/9-multiple-canvases.md
  docs/naps/_static/multicanvas-napari-architecture-today.png
  docs/naps/_static/multicanvas-napari-architecture-tomorrow.png
Labels: documentation
