Repository napari/docs, pull requests merged in 2024-07, with the labels that each got.

#437 Fix rendering explanation broken links
  docs/guides/index.md
  docs/guides/rendering.md
  docs/roadmaps/0_3_retrospective.md
Labels: documentation, ready to merge

#441 Fix rendering example code
  docs/guides/rendering.md
Labels: documentation, ready to merge

#443 [bugfix] Update contributing/index.md fix blog note
  docs/developers/contributing/index.md
Labels: bug, documentation

#444 Update napari 0.5.0 release notes
  docs/images/transform-icon.svg
  docs/release/release_0_5_0.md
Labels: documentation

#447 Update contributing documentation guide
  docs/developers/contributing/documentation/index.md
Labels: documentation, ready to merge

#446 Add preferred option to version_switcher.json
  docs/_static/version_switcher.json
Labels: documentation, enhancement

#309 Telemetry: Add sample code for collecting data and sample outputs
  docs/naps/8-telemetry.md
Labels: documentation

#449 Add Zulip link to More menu on navbar
  docs/conf.py
Labels: documentation, ready to merge

#445 Fix version match for version switcher
  docs/conf.py
Labels: bug, documentation

#442 Improve NAP-7 valid key sequence section
  docs/naps/7-key-binding-dispatch.md
Labels: documentation

#438 Update labels.md for polygon tool stopping behavior
  docs/howtos/layers/labels.md
  docs/howtos/layers/shapes.md
  docs/images/shape-add-polygons.png
Labels: documentation

#420 Add basic layer modes description, including transform button
  docs/guides/layers.md
  docs/howtos/layers/image.md
  docs/howtos/layers/labels.md
  docs/howtos/layers/points.md
  docs/howtos/layers/shapes.md
  docs/howtos/layers/surface.md
  docs/howtos/layers/tracks.md
  docs/howtos/layers/vectors.md
  docs/images/pan-zoom-tool.png
  docs/images/transform-tool.png
Labels: documentation

#421 Add note about unversioned pages machinery to contributing guide
  docs/developers/contributing/documentation/docs_deployment.md
Labels: documentation

#427 Replace cookiecutter references with napari-plugin-template
  docs/howtos/extending/magicgui.md
  docs/naps/0-nap-process.md
  docs/naps/2-conda-based-packaging.md
  docs/plugins/advanced_topics/npe1.md
  docs/plugins/building_a_plugin/best_practices.md
  docs/plugins/building_a_plugin/first_plugin.md
  docs/plugins/testing_and_publishing/deploy.md
  docs/plugins/testing_workshop_docs/3-readers-and-fixtures.md
Labels: documentation

#450 Add Lucy Liu to core devs team
  docs/community/team.md
Labels: documentation

#451 Final update to 0.5.0 release notes
  docs/release/release_0_5_0.md
Labels: documentation

#452 Update version switcher to include 0.5.0
  docs/_static/version_switcher.json
Labels: maintenance

#453 Use plausible configuration by the PyData Sphinx Theme
  docs/_templates/layout.html
  docs/conf.py
Labels: documentation

#454 More fixes to contributing documentation guide
  docs/developers/contributing/documentation/index.md
Labels: documentation, ready to merge

#456 Fix footer items
  docs/conf.py
Labels: documentation

#455 Add location field to community calendar
  docs/community/meeting_schedule.md
Labels: documentation, ready to merge

#457 Add docs about the new `napari-base` structure
  docs/developers/coredev/packaging.md
Labels: documentation, ready to merge

#462 deploy docs on manual trigger
  .github/workflows/build_and_deploy.yml
Labels: task, maintenance

#463 Add actionlint to prevent GHA workflow errors
  .github/workflows/actionlint.yml
  .github/workflows/build_and_deploy.yml
Labels: task, maintenance

#464 Add draft 0.5.1 release notes
  docs/_toc.yml
  docs/release/release_0_5_1.md
Labels: documentation

#465 Update draft warning on 0.5.1 release notes
  docs/release/release_0_5_1.md
Labels: documentation

#74 Update Bundled App Installation Instructions
  docs/_toc.yml
  docs/tutorials/assets/tutorials/installation/bundle_02.png
  docs/tutorials/assets/tutorials/installation/bundle_04.png
  docs/tutorials/assets/tutorials/installation/bundle_06.png
  docs/tutorials/assets/tutorials/installation/bundle_07.png
  docs/tutorials/assets/tutorials/installation/bundle_09.png
  docs/tutorials/assets/tutorials/installation/bundle_10.png
  docs/tutorials/assets/tutorials/installation/bundle_11.png
  docs/tutorials/assets/tutorials/installation/bundle_13.png
  docs/tutorials/assets/tutorials/installation/bundle_17.png
  docs/tutorials/assets/tutorials/installation/bundle_18.png
  docs/tutorials/assets/tutorials/installation/bundle_19.png
  docs/tutorials/assets/tutorials/installation/bundle_20.png
  docs/tutorials/assets/tutorials/installation/bundle_21.png
  docs/tutorials/assets/tutorials/installation/bundle_22.png
  docs/tutorials/assets/tutorials/installation/bundle_24.png
  docs/tutorials/assets/tutorials/installation/bundle_28.png
  docs/tutorials/assets/tutorials/installation/bundle_29.png
  docs/tutorials/assets/tutorials/installation/bundle_30.png
  docs/tutorials/assets/tutorials/installation/bundle_31.png
  docs/tutorials/assets/tutorials/installation/bundle_32.png
  docs/tutorials/assets/tutorials/installation/bundle_33.png
  docs/tutorials/assets/tutorials/installation/bundle_34.png
  docs/tutorials/assets/tutorials/installation/bundle_35.png
  docs/tutorials/fundamentals/installation.md
  docs/tutorials/fundamentals/installation_bundle_conda.md
Labels: documentation, ready to merge

#466 Update release notes for 0.5.1 with new PRs
  docs/release/release_0_5_1.md
Labels: documentation, ready to merge

#468 Update version switcher for v0.5.1
  docs/_static/version_switcher.json
Labels: documentation
