Repository napari/docs, pull requests merged in 2024-08, with the labels that each got.

#409 Turn on warnings as error option for sphinx build
  Makefile
  docs/conf.py
  docs/tutorials/fundamentals/installation_bundle_conda.md
  requirements.txt
Labels: documentation, ready to merge

#467 Remove `post` identifier when determine deploy directory
  .github/workflows/build_and_deploy.yml
Labels: task, ready to merge, maintenance

#405 Document command ID naming conventions
  docs/developers/architecture/app_model.md
Labels: documentation, ready to merge

#471 Update installation notes about macOS arm processors and Qt5 backends
  docs/tutorials/fundamentals/installation.md
Labels: documentation, ready to merge

#472 Fix docs CI
  docs/naps/2-conda-based-packaging.md
  requirements.txt
Labels: documentation

#473 Add October and July workshops from 2023
  docs/further-resources/napari-workshops.md
Labels: documentation, ready to merge

#470 Add documentation for run benchmark under debugger
  docs/developers/contributing/performance/benchmarks.md
Labels: documentation

#476 Add 0.5.2 release notes
  docs/_toc.yml
  docs/release/release_0_5_2.md
Labels: documentation, ready to merge

#478 Remove warning and update date on 0.5.2 release notes
  docs/release/release_0_5_2.md
Labels: documentation

#482 Improve informations on community page
  docs/community/index.md
  docs/images/image_sc_logo.png
  docs/images/mastodon_logo.svg
  docs/images/twitter_logo.svg
Labels: documentation, ready to merge

#477 Improve deploy workflow by use deploy directory from workflow dispatch input
  .github/workflows/build_and_deploy.yml
Labels: task, ready to merge, maintenance

#460 Add short guide on updating constraints files
  docs/developers/coredev/release.md
Labels: documentation, ready to merge

#485 Add 0.5.3 release notes
  docs/_toc.yml
  docs/release/release_0_5_3.md
Labels: documentation

#487 Update 0.5.3 release notes with new bugfix
  docs/release/release_0_5_3.md
Labels: documentation

#488 Update version switcher to add 0.5.3
  docs/_static/version_switcher.json
Labels: documentation
