Repository napari/docs, pull requests merged in 2024-04, with the labels that each got.

#380 [Maint] fix the download and deploy part of workflow
  .github/workflows/build_and_deploy.yml
Labels: ready-to-merge, maintenance, priority-high

#381 Add note on using str instead of importing for napari type annot in plugins
  docs/plugins/building_a_plugin/best_practices.md
Labels: documentation, ready-to-merge

#384 [Maint] fix build_and_deploy.yml paths
  .github/workflows/build_and_deploy.yml
Labels: task, maintenance, priority-high

#385 fix build_and_deploy.yml take 2
  .github/workflows/build_and_deploy.yml
Labels: task, maintenance, priority-high

#386 Fix napari.org rendering
  .github/workflows/build_and_deploy.yml
Labels: task

#388 [maint] fix app-model intersphinx link
  docs/conf.py
Labels: bug, documentation, ready-to-merge, maintenance

#382 Use intersphinx for magicgui objects in `magicgui.md`
  docs/howtos/extending/magicgui.md
Labels: documentation, ready-to-merge

#397 [Maint] use lxml[html_clean] in requirements.txt
  requirements.txt
Labels: ready-to-merge, maintenance

#389 Fix doc preview in PR CI
  docs/developers/contributing/documentation/images/doc-ci-1.png
  docs/developers/contributing/documentation/images/doc-ci-2.png
  docs/developers/contributing/documentation/images/doc-ci-3.png
  docs/developers/contributing/documentation/index.md
Labels: documentation, ready-to-merge

#401 Minor update to instructions for updating tokens
  docs/developers/coredev/maintenance.md
Labels: documentation, ready to merge

#395 Add note about autogeneration of plugin docs
  docs/developers/contributing/documentation/index.md
Labels: documentation, ready to merge

#242 [Content] Add docs for the new lock dims of the roll button
  docs/conf.py
  docs/tutorials/assets/tutorials/dims_roll_lock_widget.png
  docs/tutorials/fundamentals/viewer.md
Labels: documentation, ready to merge

#68 how to use annotation with create_widget
  docs/howtos/extending/magicgui.md
Labels: documentation, ready to merge

#393 Fix ALL Sphinx warnings
  docs/conf.py
  docs/developers/architecture/app_model.md
  docs/naps/9-multiple-canvases.md
  docs/release/release_0_4_19.md
  docs/tutorials/processing/dask.md
  requirements.txt
Labels: documentation, ready to merge

#394 Fix make html-noplot command
  Makefile
Labels: ready to merge, maintenance

#399 Add page on `magicgui` type registration
  docs/_toc.yml
  docs/developers/architecture/app_model.md
  docs/developers/architecture/index.md
  docs/developers/architecture/magicgui_type_reg.md
Labels: documentation, ready to merge

#402 Fix typo in `app_model.md`
  docs/developers/architecture/app_model.md
Labels: documentation, ready to merge

#390 Update `docs_deployment.md` and add paths to workflow
  .github/workflows/build_and_deploy.yml
  docs/developers/contributing/documentation/docs_deployment.md
Labels: documentation, task, ready to merge

#403 Update `app-model` doc with new information about `_mock_app` fixture
  docs/developers/architecture/app_model.md
  docs/developers/contributing/testing.md
Labels: documentation, ready to merge

#410 Fix broken magicgui and app-model docs links
  docs/developers/architecture/app_model.md
  docs/howtos/extending/magicgui.md
Labels: documentation, ready to merge

#407 Improve our 'Creating widgets' section
  docs/howtos/extending/magicgui.md
  docs/plugins/building_a_plugin/_layer_data_guide.md
  docs/plugins/building_a_plugin/best_practices.md
Labels: documentation, ready to merge

#412 Update IFP rep on the SC to be Kyle and not Nick
  docs/community/team.md
Labels: documentation, ready to merge

#411 Add Python resources to Installation tutorial
  docs/tutorials/fundamentals/installation.md
Labels: documentation, ready to merge
