Repository napari/docs, pull requests merged in 2024-06, with the labels that each got.

#423 Bump napari sphinx theme version
  Makefile
  docs/_static/custom.css
  docs/_templates/sidebar-nav-bs.html
  docs/conf.py
Labels: documentation, maintenance

#416 Update where app-model actions/providers/processors live in codebase
  docs/developers/architecture/app_model.md
Labels: documentation

#425 Replace use of properties with features
  docs/howtos/extending/magicgui.md
  docs/howtos/layers/points.md
  docs/howtos/layers/tracks.md
  docs/tutorials/annotation/annotate_points.md
  docs/tutorials/segmentation/annotate_segmentation.md
  docs/tutorials/tracking/cell_tracking.md
Labels: documentation, ready to merge

#426 DOC Update finding submenu action in app-model
  docs/developers/architecture/app_model.md
Labels: documentation

#312 NAP-6: Updates after discussion and review
  docs/naps/6-contributable-menus.md
Labels: documentation

#424 Update slicing/rendering docs
  docs/_toc.yml
  docs/guides/rendering-explanation.md
  docs/guides/rendering.md
  docs/naps/4-async-slicing.md
  docs/tutorials/fundamentals/viewer.md
Labels: documentation, enhancement

#430 Draft release notes for 0.5.0
  docs/_toc.yml
  docs/release/release_0_5_0.md
Labels: documentation

#434 Add warnings around draft message
  docs/release/release_0_5_0.md
Labels: documentation

#431 DOC Link `magicgui` type annotation to providers/processors
  docs/developers/architecture/app_model.md
  docs/developers/architecture/magicgui_type_reg.md
Labels: documentation, ready to merge

#433 Add troubleshooting about starting napari and `LD_LIBRARY_PATH`
  docs/tutorials/fundamentals/getting_started.md
  docs/tutorials/fundamentals/installation.md
Labels: documentation, ready to merge

#429 Add links to blog and napari workshop template on navbar
  docs/community/index.md
  docs/conf.py
  docs/developers/contributing/index.md
Labels: documentation

#432 DOC Add section on order of app-model init steps
  docs/developers/architecture/app_model.md
Labels: documentation, ready to merge
