Repository napari/docs, pull requests merged in 2024-03, with the labels that each got.

#368 Dynamicly calculate supported python version range
  docs/conf.py
Labels: documentation, ready-to-merge

#366 For this repo, link contributions to documentation contribution guide
  README.md
Labels: enhancement, ready-to-merge, maintenance

#307 Add documentation for `New from clipboard` feature
  docs/tutorials/fundamentals/getting_started.md
  docs/tutorials/fundamentals/quick_start.md
  docs/tutorials/fundamentals/viewer.md
Labels: documentation, ready-to-merge

#132 Using Dask and Napari to view and process 100µm resolution human brain dataset
  docs/tutorials/processing/dask.md
Labels: documentation, ready-to-merge

#367 Clarify optionality of type annotations for writing a plugin
  docs/plugins/building_a_plugin/_layer_data_guide.md
Labels: documentation, enhancement, ready-to-merge

#370 Add info on testing `QWidget` visibility
  docs/developers/contributing/testing.md
Labels: documentation, ready-to-merge

#372 Summary of local setup for quickstart for devs
  README.md
  docs/developers/contributing/documentation/index.md
Labels: documentation, ready-to-merge

#360 [Content] Add docs for napari/napari#6590 shift-option arrows to cycle through layers one at a time
  docs/tutorials/fundamentals/viewer.md
Labels: documentation, content, ready-to-merge

#375 Add info about tests that require window focus and `pyautogui` permissions setup on macOS
  docs/developers/contributing/testing.md
Labels: documentation, enhancement, ready-to-merge

#359 [ENH] Add napari.utils.transforms to API docs
  docs/api/modules.rst
Labels: documentation, enhancement, content, ready-to-merge

#325 Update app-model documentation
  docs/conf.py
  docs/developers/architecture/app_model.md
Labels: documentation, content, ready-to-merge

#378 Inlcude docstring of `make_napari_viewer` in `testing.md`
  docs/developers/contributing/testing.md
Labels: documentation, ready-to-merge

#348 Unify docs workflows
  .circleci/config.yml
  .github/workflows/build_and_deploy.yml
  .github/workflows/build_docs.yml
  .github/workflows/circleci.yml
  Makefile
Labels: task, ready-to-merge, maintenance

#336 Update links to napari hub guide
  docs/plugins/testing_and_publishing/deploy.md
  docs/plugins/testing_and_publishing/test.md
Labels: documentation

#379 Add cross reference to other testing info in `testing.md`
  docs/developers/architecture/app_model.md
  docs/developers/contributing/testing.md
Labels: documentation, ready-to-merge
