Repository napari/docs, pull requests merged in 2025-01, with the labels that each got.

#114 Add initial UI sections docs pages and script for generation
  .gitignore
  docs/_scripts/prep_docs.py
  docs/_scripts/update_ui_sections_docs.py
  docs/_toc.yml
  docs/conf.py
  docs/developers/architecture/index.md
  docs/developers/architecture/ui_sections/index.md
  requirements.txt
Labels: documentation

#547 add documentation for new path tool
  docs/_static/images/shape-add-path.png
  docs/_static/images/shape-add-polyline.png
  docs/_templates/details_polygon_path_tool.md
  docs/howtos/layers/shapes.md
Labels: documentation

#542 Add docs on advanced contrast limits widget
  docs/_static/images/contrast_limits.png
  docs/_static/images/contrast_limits.webm
  docs/howtos/layers/image.md
Labels: documentation, priority-high

#553 Replace twitter with mastodon and bluesky in documentation
  docs/community/governance.md
  docs/community/index.md
  docs/community/team.md
  docs/developers/coredev/core_dev_guide.md
  docs/images/Bluesky_Logo.svg
  docs/images/twitter_logo.svg
Labels: documentation, ready to merge, maintenance

#552 0.5.6 relnotes updates
  docs/release/release_0_5_6.md
Labels: documentation

#555 Add Ashley Anderson to list of core developers
  docs/community/team.md
Labels: documentation, maintenance

#554 Add missing PRs to release notes
  docs/release/release_0_5_6.md
Labels: documentation

#556 Update version switcher for 0.5.6
  docs/_static/version_switcher.json
Labels: documentation
