Repository napari/docs, pull requests merged in 2025-09, with the labels that each got.

#830 Add pooch cache for build docs
  .circleci/config.yml
  .github/workflows/build_and_deploy.yml
  .github/workflows/build_docs.yml
Labels: ready to merge, maintenance

#845 Add draft of 0.6.5 release notes
  docs/_toc.yml
  docs/release/release_0_6_5.md
Labels: documentation, ready to merge

#848 Bump python to 3.12 for build docs workflows
  .circleci/config.yml
  .github/workflows/build_and_deploy.yml
  .github/workflows/build_docs.yml
Labels: ready to merge, maintenance

#818 Add funding information to the home page
  docs/_static/images/czi-logo-minimal.png
  docs/_static/images/czi-logo.png
  docs/_static/images/nf-logo.png
  docs/community/team.md
  docs/index.md
Labels: documentation, ready to merge

#847 Add some info about running python scripts via cli
  docs/tutorials/fundamentals/features.md
Labels: documentation, ready to merge

#834 Update and restructure the preferences guide
  docs/_scripts/update_preference_docs.py
  docs/tutorials/fundamentals/quick_start.md
  docs/tutorials/fundamentals/viewer.md
Labels: documentation, enhancement, ready to merge

#851 Add note about workers registration as tasks and close confirmation dialog when closing napari GUI via close button
  docs/guides/threading.md
Labels: documentation

#854 Readd palette shortcut to viewer guide
  docs/tutorials/fundamentals/viewer.md
Labels: documentation

#850 Use shared workflow for build docs
  .github/workflows/build_and_deploy.yml
  .github/workflows/build_docs.yml
  .github/workflows/label_triggered_build.yml
  .github/workflows/triggered_target_build.yml
Labels: ready to merge, maintenance

#839 Add EffVer to release guide and link to checklist template
  docs/developers/coredev/release.md
Labels: documentation, ready to merge
