Repository napari/docs, pull requests merged in 2025-05, with the labels that each got.

#695 Add handedness guide and link from viewer tutorial
  docs/_static/images/handedness.png
  docs/_toc.yml
  docs/data/1BNA.obj.gz
  docs/guides/handedness.md
  docs/tutorials/fundamentals/viewer.md
Labels: documentation, ready to merge

#696 Final release notes for 0.6.0
  docs/_static/images/command-palette.png
  docs/_static/images/command-palette.webm
  docs/release/release_0_6_0.md
  docs/tutorials/fundamentals/quick_start.md
  docs/tutorials/fundamentals/viewer.md
Labels: documentation

#697 Update the version switcher for 0.6.0
  docs/_static/version_switcher.json
Labels: documentation

#700 Update conf.py to try to fix opengraph image for dev and future deployments
  docs/conf.py
Labels: documentation, ready to merge

#701 Update build_trigger.yml to fix Circle pipeline
  .github/workflows/build_trigger.yml
Labels: ready to merge, maintenance, priority-high

#704 Draft release notes for 0.6.1
  docs/_toc.yml
  docs/release/release_0_6_1.md
Labels: documentation

#706 release 0.6.1 notes update
  docs/release/release_0_6_1.md
Labels: documentation

#707 Fix release notes header for 0.6.1
  docs/release/release_0_6_1.md
Labels: documentation

#708 Update release notes for 0.6.1
  docs/release/release_0_6_1.md
Labels: documentation, ready to merge

#709 Update viewer.md to mention that you can rename axes using the roll dims popup
  docs/tutorials/fundamentals/viewer.md
Labels: documentation, ready to merge

#712 0.6.1 full release notes
  docs/release/release_0_6_1.md
Labels: documentation, ready to merge

#713 Update version switcher for 0.6.1
  docs/_static/version_switcher.json
Labels: documentation

#716 Update code of conduct committee members
  docs/community/code_of_conduct.md
Labels: documentation, ready to merge
