Repository napari/docs, pull requests merged in 2025-06, with the labels that each got.

#726 Update installation.md to link to conda getting started not miniconda
  docs/tutorials/fundamentals/installation.md
Labels: documentation, ready to merge

#729 Update governance docs
  docs/community/governance.md
  docs/community/team.md
  docs/developers/coredev/core_dev_guide.md
Labels: documentation, ready to merge

#723 Fix comment and manual dispatch triggered build jobs
  .circleci/config.yml
  .github/workflows/build_docs.yml
  .github/workflows/build_trigger.yml
  .github/workflows/triggered_target_build.yml
Labels: bug, ready to merge, maintenance

#739 [maint] fix circleCI branch naming in trigger action
  .github/workflows/triggered_target_build.yml
Labels: maintenance

#736 Use darker blue for community meetings in napari calendar
  docs/community/meeting_schedule.md
Labels: documentation, ready to merge

#715 Update contributing docs page
  docs/developers/contributing/documentation/index.md
Labels: documentation, ready to merge

#721 Add initial documentation about widget communication
  docs/_toc.yml
  docs/plugins/advanced_topics/widget_communication.md
Labels: documentation, ready to merge

#718 Add features table widget
  docs/_static/images/features_table_widget.png
  docs/howtos/layers/points.md
Labels: documentation, ready to merge

#749 Only build artifact on ready-to-merge label
  .circleci/config.yml
  .github/workflows/label_triggered_build.yml
Labels: ready to merge, maintenance
