Repository napari/docs, pull requests merged in 2025-04, with the labels that each got.

#646 Use env var to control if notebooks are executed and add docs, slim, slimfast, and slimgallery variants to Makefile
  Makefile
  README.md
  docs/_scripts/prep_docs.py
  docs/_scripts/update_event_docs.py
  docs/_scripts/update_preference_docs.py
  docs/_scripts/update_ui_sections_docs.py
  docs/conf.py
  docs/developers/contributing/documentation/index.md
Labels: documentation, ready to merge, maintenance

#651 Update roadmap index to highlight global roadmap
  docs/roadmaps/index.md
Labels: documentation

#656 Surface plugin best practices
  docs/plugins/index.md
Labels: documentation, ready to merge

#658 Squash deployed gh-pages, relying on this repo for history
  .github/workflows/build_and_deploy.yml
Labels: ready to merge, maintenance

#663 Revert "Squash deployed gh-pages, relying on this repo for history (#658)"
  .github/workflows/build_and_deploy.yml
Labels: maintenance

#665 Update 0.6.0 release notes with more complete highlights and more PRs
  docs/release/release_0_6_0.md
Labels: documentation, ready to merge

#655 Add missing magicgui imports
  docs/howtos/extending/magicgui.md
Labels: documentation, ready to merge

#635 Edit testing doc and add admonition to Grzegorz blog post on Qt testing
  docs/developers/contributing/testing.md
Labels: documentation, ready to merge

#649 [maint, bugfix] Ensure stub targets generated by prep_stubs generate targets
  Makefile
  docs/_scripts/prep_docs.py
  docs/_scripts/update_preference_docs.py
  docs/_scripts/update_ui_sections_docs.py
Labels: documentation, ready to merge, maintenance

#654 [bugfix] Fix linkcheck.yml for change to dependencies and removal of req.txt
  .github/workflows/linkcheck.yml
Labels: bug, ready to merge, maintenance

#671 [bugfix] fix prep_docs logic to ensure npe2 files are written, but not over-written
  docs/_scripts/prep_docs.py
Labels: documentation, ready to merge, maintenance

#673 Update circleci cimg base to 3.10.17 which includes uv
  .circleci/config.yml
Labels: ready to merge, maintenance

#667 Improve social media preview with OpenGraph
  docs/_static/opengraph_image.png
  docs/conf.py
Labels: documentation

#668 Update plugin best practices
  docs/plugins/building_a_plugin/best_practices.md
Labels: documentation, ready to merge

#669 Default CI to `slimfast` and add comment control to run other builds.
  .circleci/config.yml
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/build_and_deploy.yml
  .github/workflows/build_docs.yml
  .github/workflows/build_trigger.yml
  docs/developers/contributing/documentation/index.md
Labels: documentation, ready to merge, maintenance, highlight

#675 Update Makefile to use -WT --keep-going for CI make targets
  Makefile
Labels: documentation, ready to merge, maintenance

#683 Add command palette to the Quick start guide and Viewer tutorial
  docs/tutorials/fundamentals/quick_start.md
  docs/tutorials/fundamentals/viewer.md
Labels: documentation

#686 More 0.6.0 release note updates
  docs/release/release_0_6_0.md
Labels: documentation

#691 Add image highlighting right-click indicators in viewer tutorial
  docs/_static/images/button-right-click-indicator.png
  docs/tutorials/fundamentals/viewer.md
Labels: documentation, ready to merge

#692 Update pan-zoom video with new UI, better data, and better framerate
  docs/_static/images/viewer-pan-zoom.jpg
  docs/_static/images/viewer-pan-zoom.webm
  docs/_static/images/viewer_pan_zoom.png
  docs/_static/images/viewer_pan_zoom.webm
  docs/tutorials/fundamentals/viewer.md
Labels: documentation, ready to merge

#694 Always upload build artifacts in build_docs.yml workflow
  .github/workflows/build_docs.yml
Labels: ready to merge, maintenance
