Repository napari/docs, pull requests merged in 2025-02, with the labels that each got.

#564 Update BlueSky link to our actual account (not masto bridge)
  docs/community/index.md
Labels: documentation, ready to merge

#560 Rename Gallery to Examples
  docs/gallery.md
  docs/index.md
Labels: documentation, ready to merge

#541 Update finding and installing plugin docs
  docs/_static/images/plugin-install-dialog.png
  docs/_static/images/plugin-manager.png
  docs/plugins/start_using_plugins/finding_and_installing_plugins.md
  docs/plugins/start_using_plugins/index.md
  docs/plugins/testing_and_publishing/deploy.md
  docs/plugins/virtual_environment_docs/2-deploying-your-plugin.md
Labels: documentation, ready to merge

#576 Update viewer.md to include tip about the chevron for right-click
  docs/tutorials/fundamentals/viewer.md
Labels: documentation, ready to merge

#574 Update shapes path icon
  docs/_static/images/shape-add-path.png
Labels: documentation, ready to merge

#573 Update viewer.md to include spacing for grid mode
  docs/_static/images/grid-widget.png
  docs/tutorials/fundamentals/viewer.md
Labels: documentation

#572 Update conf.py to bump the recommended python version to 3.11
  docs/conf.py
Labels: documentation, ready to merge

#579 Add an explicit list of Steering Council members to Team page
  docs/community/team.md
Labels: documentation, ready to merge

#581 Edit plugin landing page to add links and update information
  docs/plugins/index.md
Labels: documentation, ready to merge

#590 Update CircleCI config.yml to use napari docs and gallery dependency groups
  .circleci/config.yml
Labels: ready to merge, maintenance

#591 Update build_and_deploy.yml to use napari docs dependency group
  .github/workflows/build_and_deploy.yml
Labels: ready to merge, maintenance

#587 Add codespell support (config, workflow to detect/not fix) and make it fix few typos
  .codespellrc
  .github/workflows/codespell.yml
  .pre-commit-config.yaml
  EULA.md
  docs/_scripts/update_ui_sections_docs.py
  docs/community/team.md
  docs/developers/architecture/napari_models.md
  docs/developers/contributing/documentation/docs_deployment.md
  docs/developers/contributing/documentation/index.md
  docs/developers/contributing/translations.md
  docs/developers/coredev/packaging.md
  docs/developers/coredev/release.md
  docs/howtos/extending/magicgui.md
  docs/howtos/layers/labels.md
  docs/howtos/layers/points.md
  docs/howtos/layers/shapes.md
  docs/howtos/layers/vectors.md
  docs/howtos/perfmon.md
  docs/naps/3-spaces.md
  docs/naps/4-async-slicing.md
  docs/naps/6-contributable-menus.md
  docs/naps/9-multiple-canvases.md
  docs/plugins/advanced_topics/npe1.md
  docs/plugins/advanced_topics/npe2_migration_guide.md
  docs/plugins/building_a_plugin/_layer_data_guide.md
  docs/plugins/building_a_plugin/debug_plugins.md
  docs/release/release_0_1_3.md
  docs/release/release_0_2_0.md
  docs/release/release_0_3_0.md
  docs/release/release_0_3_8.md
  docs/release/release_0_4_0.md
  docs/release/release_0_4_11.md
  docs/release/release_0_4_12.md
  docs/release/release_0_4_13.md
  docs/release/release_0_4_17.md
  docs/release/release_0_4_18.md
  docs/release/release_0_4_19.md
  docs/release/release_0_4_3.md
  docs/release/release_0_4_4.md
  docs/release/release_0_4_5.md
  docs/release/release_0_4_7.md
  docs/release/release_0_4_8.md
  docs/release/release_0_4_9.md
  docs/release/release_0_5_0.md
  docs/release/release_0_5_1.md
  docs/release/release_0_5_3.md
  docs/release/release_0_5_4.md
  docs/release/release_0_5_5.md
  docs/roadmaps/0_3_retrospective.md
  docs/roadmaps/0_4.md
  docs/tutorials/annotation/annotate_points.md
  docs/tutorials/fundamentals/getting_started.md
  docs/tutorials/fundamentals/installation_bundle_conda.md
  docs/tutorials/fundamentals/viewer.md
Labels: documentation, maintenance

#593 Untab the plugin users and plugin developers grids
  docs/plugins/index.md
Labels: documentation, enhancement, ready to merge

#586 Edit user plugin installation page to simplify instructions
  docs/plugins/start_using_plugins/finding_and_installing_plugins.md
Labels: documentation, ready to merge
