Repository napari/docs, pull requests merged in 2025-07, with the labels that each got.

#751 Final 0.6.2 Release Notes
  docs/release/release_0_6_2.md
Labels: documentation, ready to merge

#754 Update version switcher for 0.6.2
  docs/_static/version_switcher.json
Labels: documentation

#760 Add roadmap to sidebar links
  docs/_templates/sidebar-link-items.html
Labels: documentation

#761 Refactor contributing guide landing page
  docs/developers/index.md
  docs/roadmaps/active_roadmap.md
Labels: documentation

#757 Add empty release notes for 0.6.3
  docs/_toc.yml
  docs/release/release_0_6_3.md
Labels: documentation, ready to merge

#764 Update triggered_target_build.yml regex to ensure we match on hyphen
  .github/workflows/triggered_target_build.yml
Labels: bug, ready to merge, maintenance

#767 Reorganize homepage with grid columns
  docs/index.md
Labels: documentation

#747 Update guides.md to add menu contribution guide
  docs/_scripts/prep_docs.py
  docs/plugins/building_a_plugin/guides.md
Labels: documentation, ready to merge

#755 Update Release Guide
  docs/developers/coredev/release.md
Labels: documentation, ready to merge

#779 Add website colors to community resources
  docs/community/resources.md
Labels: documentation, ready to merge

#777 Fix Image Annotation example
  docs/howtos/extending/magicgui.md
Labels: documentation, ready to merge

#781 Add instructions for headless docs build on Wayland
  Makefile
  docs/developers/contributing/documentation/index.md
Labels: documentation

#788 Update pre-commit config to add some python checkers
  .pre-commit-config.yaml
  docs/conf.py
Labels: documentation

#672 Update instruction how to update contraints files
  docs/developers/coredev/release.md
Labels: documentation

#789 Group event docs in order
  docs/_toc.yml
Labels: documentation

#797 Add introductory paragraph to starting an event loop api doc
  docs/api/event_loop.rst
Labels: documentation

#792 Add 0.6.3 release notes draft for release candidate
  docs/release/release_0_6_3.md
Labels: documentation

#800 Improve API docs for view_* pending removal in 0.7
  docs/_toc.yml
  docs/api/deprecated.rst
  docs/api/modules.rst
  docs/api/view_layer.rst
  docs/api/viewer.rst
Labels: documentation

#799 Update title of event loop api page for discoverability of napari.run
  docs/api/event_loop.rst
Labels: documentation

#795 Minor roadmap update
  docs/roadmaps/active_roadmap.md
Labels: documentation, ready to merge

#794 Add docs for thick slicing
  docs/tutorials/fundamentals/viewer.md
Labels: documentation, ready to merge

#806 Add Carol Willing to list of core developers in documentation
  docs/community/team.md
Labels: documentation, ready to merge

#805 Drag and drop python scripts
  docs/tutorials/fundamentals/features.md
Labels: documentation, ready to merge
