Repository napari/docs, pull requests merged in 2025-03, with the labels that each got.

#612 Suppress detached head warning in prep_docs script
  docs/_scripts/prep_docs.py
Labels: documentation, ready to merge

#606 Replace two manual screenshots of the viewer (launch_cli_empty and launch_cli_image) with nbscreenshots
  docs/_static/images/launch_cli_empty.png
  docs/_static/images/launch_cli_image.png
  docs/tutorials/fundamentals/getting_started.md
  docs/tutorials/fundamentals/installation.md
Labels: documentation, maintenance

#611 Update CircleCI config to python orb and image
  .circleci/config.yml
Labels: ready to merge, maintenance

#609 Reorganize plugin landing page and remove redundant index file
  docs/_toc.yml
  docs/plugins/index.md
  docs/plugins/start_using_plugins/index.md
Labels: documentation, enhancement, ready to merge

#614 Add sections to Contributing landing page and edit lightly
  docs/developers/contributing/index.md
Labels: documentation, ready to merge

#610 Add release notes and community chat links to homepage sidebar
  docs/_templates/calendar-template.html
  docs/_templates/sidebar-link-items.html
  docs/conf.py
Labels: documentation, ready to merge

#602 Updates to the makefile, contribution guide, and README for the napari[docs] installation
  Makefile
  README.md
  docs/developers/contributing/documentation/index.md
  requirements.txt
Labels: documentation, ready to merge, priority-high

#597 Add guidance document for adapted npe1 plugins
  docs/_toc.yml
  docs/plugins/advanced_topics/adapted_plugin_guide.md
  docs/plugins/advanced_topics/images/adapted_plugin_with_tag.png
  docs/plugins/advanced_topics/images/npe1_plugin_no_tag.png
  docs/plugins/advanced_topics/index.md
  docs/plugins/index.md
Labels: documentation, ready to merge

#622 Add 0.6.0 alpha release note
  docs/_toc.yml
  docs/release/release_0_6_0.md
Labels: documentation

#623 Add info about adapted plugins to troubleshooting guide
  docs/troubleshooting.md
Labels: documentation, ready to merge

#620 Move links out of navbar and into sidebar / other docs.
  docs/_templates/sidebar-link-items.html
  docs/conf.py
  docs/developers/index.md
  docs/further-resources/napari-workshops.md
Labels: documentation, ready to merge

#613 Move user-facing information to top of preferences and fix autogenerated UI images
  docs/_scripts/update_preference_docs.py
Labels: documentation, ready to merge

#627 Add information about show= kwarg for make_napari_viewer fixture
  docs/developers/contributing/testing.md
Labels: documentation, ready to merge

#631 Update conf.py to use packaging to detect dev vs release versions
  docs/conf.py
Labels: documentation

#632 Tidy up conf.py file for contributors
  docs/conf.py
Labels: documentation, ready to merge

#633 Update troubleshooting.md to address pydantic 2 change in 0.6.0
  docs/troubleshooting.md
Labels: documentation, ready to merge

#636 update left sidebar to persist resources
  docs/_templates/sidebar-nav-bs.html
Labels: documentation

#639 remove gui_qt since it is deprecated and will be removed in 0.6.0
  docs/api/event_loop.rst
Labels: documentation, ready to merge

#642 Update event_loop.md to remove gui_qt which is removed in 0.6.0
  docs/guides/event_loop.md
Labels: documentation, ready to merge

#641 Update napari-workshops.md to include LIBRE LatAm, SciPy, and I2K
  docs/further-resources/napari-workshops.md
Labels: documentation, enhancement

#644 Withdraw NAP-5 new logo proposal
  docs/naps/5-new-logo.md
Labels: documentation, ready to merge

#628 Update release process and procedure documentation
  docs/developers/coredev/release.md
Labels: documentation, ready to merge
